@font-face {
  font-family: "TKT";
  src: url("TKT-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TKT";
  src: url("TKT-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TKT";
  src: url("TKT-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
